[user]
	name = Stefan Olsen
	email = stol@cloudfactory.dk
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ps = push
[core]
	editor = vim

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[diff]

	# Detect copies as well as renames
	renames = copies
[diff "bin"]

	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C
[init]
	defaultBranch = main
